.burger-popup {
    position: fixed;
    left: -110%;
    top: 0;
    height: 100vh;
    width: 260px;
    background: var(--content_bg);
    color: var(--text_on_content_bg);
    transition: var(--transition);
    z-index: 10001;

    overflow-y: auto;

    &.active {
        left: 0;
    }

    &__inner {
        padding: 30px 20px;
    }
    &__menu {
    }
    &__list {
        a {
            font-size: 13px;
            font-weight: var(--font1_700);
            text-transform: uppercase;
            line-height: 1.15;
            color: var(--text_on_content_bg);
            transition: var(--transition);
            margin-bottom: 15px;
            display: inline-flex;

            &:hover {
                color: var(--color1);
            }
        }
    }
}