@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  color: var(--text_on_color1);
  background: var(--color1);
}

::selection {
  color: var(--text_on_color1);
  background: var(--color1);
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
  background: none;
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

.hide {
  display: none !important;
}

.overflowHidden {
  overflow: hidden;
}

.overflowHidden:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.2;
  background: var(--content_bg);
  font-family: var(--font1);
  font-weight: var(--font1_400);
  color: var(--text_on_content_bg);
}

img {
  max-width: 100%;
  display: block;
}

.block-width {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.block-padding {
  padding: 0 20px;
}

@media all and (max-width: 639px) {
  .block-padding {
    padding: 0 10px;
  }
}

h1 {
  font-weight: var(--font1);
  font-size: 36px;
  line-height: 120%;
  color: var(--text_on_content_bg);
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: var(--font1_700);
}

@media all and (max-width: 1024px) {
  h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

@media all and (max-width: 639px) {
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.site-wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.site-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.colored-text {
  color: var(--color1);
}

.site-main {
  position: relative;
  background: url("../img/content-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.site-main__inner {
  padding: 120px 0 120px;
}

@media all and (max-width: 767px) {
  .site-main__inner {
    padding: 100px 0 100px;
  }
}

@media all and (max-width: 639px) {
  .site-main__inner {
    padding: 60px 0 60px;
  }
}

*::-webkit-scrollbar {
  width: 7px;
  /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
  background: #3D4050;
  /* цвет зоны отслеживания */
  border-radius: 20px;
  /* округлось бегунка */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color1);
  /* цвет бегунка */
  border-radius: 20px;
  /* округлось бегунка */
}

.btn-style, .btn-1,
.btn-2 {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: auto;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-clip: border-box;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-transform: uppercase;
  border-radius: var(--btn_radius);
  font-size: 13px;
  padding: 15px 10px;
  line-height: 1;
}

@media all and (max-width: 639px) {
  .btn-style, .btn-1,
  .btn-2 {
    padding: 12px 8px;
    font-size: 12px;
  }
}

.btn-style:before, .btn-1:before,
.btn-2:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
  border-radius: var(--btn_radius);
  background: var(--btn_overlay_15);
}

.btn-style:hover:before, .btn-1:hover:before,
.btn-2:hover:before {
  opacity: 1;
  visibility: visible;
}

.btn-style:active:before, .btn-1:active:before,
.btn-2:active:before {
  background: var(--btn_overlay_act_05);
  opacity: 1;
  visibility: visible;
}

.btn-1 {
  font-weight: var(--font1_400);
  font-family: var(--font1);
  color: var(--text_on_color1);
  -webkit-box-shadow: inset 0 0 0 1px var(--border_on_color1);
          box-shadow: inset 0 0 0 1px var(--border_on_color1);
  background: var(--color1);
}

.btn-1 svg {
  fill: var(--text_on_color1);
}

.btn-1:hover {
  color: var(--text_on_color1);
  border: inset 0 0 0 1px var(--border_on_color1);
  background: var(--color1);
}

.btn-1:hover svg {
  fill: var(--text_on_color1);
}

.btn-1:active {
  color: var(--text_on_color1);
  border: inset 0 0 0 1px var(--border_on_color1);
  background: var(--color1);
}

.btn-1:active svg {
  fill: var(--text_on_color1);
}

.btn-2 {
  font-weight: var(--font1_400);
  font-family: var(--font1);
  color: var(--text_on_color2);
  -webkit-box-shadow: inset 0 0 0 1px var(--border_on_color2);
          box-shadow: inset 0 0 0 1px var(--border_on_color2);
  background: var(--color2);
}

.btn-2 svg {
  fill: var(--text_on_color2);
}

.btn-2:hover {
  color: var(--text_on_color2);
  border: inset 0 0 0 1px var(--border_on_color2);
  background: var(--color2);
}

.btn-2:hover svg {
  fill: var(--text_on_color2);
}

.btn-2:active {
  color: var(--text_on_color2);
  border: inset 0 0 0 1px var(--border_on_color2);
  background: var(--color2);
}

.btn-2:active svg {
  fill: var(--text_on_color2);
}

.header-block {
  background: var(--header_bg);
  color: var(--text_on_header_bg);
  position: -webkit-sticky;
  position: sticky;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
}

.header-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35.5px 0 32.5px;
}

@media all and (max-width: 1260px) {
  .header-block__inner {
    padding: 25.5px 0 22.5px;
  }
}

@media all and (max-width: 1260px) {
  .header-block__left {
    width: calc(100% - 50px);
  }
}

.header-block .burger-block {
  display: none;
}

@media all and (max-width: 1260px) {
  .header-block .burger-block {
    display: block;
  }
}

.header-block .burger-block .burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-block .burger-block .burger-btn span {
  background: #fff;
  border-radius: 10px;
  height: 5px;
  margin: 3px 0;
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.header-block .burger-block .burger-btn span:nth-of-type(1) {
  width: 50%;
}

.header-block .burger-block .burger-btn span:nth-of-type(2) {
  width: 100%;
}

.header-block .burger-block .burger-btn span:nth-of-type(3) {
  width: 75%;
}

.header-block .burger-block .burger-btn.active span:nth-of-type(1) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotatez(-45deg) translate(-4px, 1px);
          transform: rotatez(-45deg) translate(-4px, 1px);
}

.header-block .burger-block .burger-btn.active span:nth-of-type(2) {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotatez(45deg);
          transform: rotatez(45deg);
}

.header-block .burger-block .burger-btn.active span:nth-of-type(3) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  width: 50%;
  -webkit-transform: translate(-13px, -6px) rotatez(-45deg);
          transform: translate(-13px, -6px) rotatez(-45deg);
}

.header-block .site-name {
  color: var(--text_on_header_bg);
  font-size: 28px;
  font-family: var(--font2);
  font-weight: var(--font2_800);
  text-transform: uppercase;
  line-height: 1.15;
}

.header-block .site-menu {
  padding-right: 10px;
}

@media all and (max-width: 1260px) {
  .header-block .site-menu {
    display: none;
  }
}

.header-block .site-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

.header-block .site-menu__list a {
  font-size: 13px;
  font-weight: var(--font1_700);
  text-transform: uppercase;
  line-height: 1.15;
  color: var(--text_on_header_bg);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.header-block .site-menu__list a:hover {
  color: var(--color1);
}

.banner-block {
  position: relative;
  background: var(--banner_bg);
  color: var(--text_on_banner_bg);
}

.banner-block__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-block__img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-block__inner {
  padding: 103px 0 203px;
  min-height: 600px;
}

@media all and (max-width: 1024px) {
  .banner-block__inner {
    min-height: unset;
    padding: 80px 0 103px;
  }
}

@media all and (max-width: 767px) {
  .banner-block__inner {
    padding: 60px 0 80px;
  }
}

@media all and (max-width: 639px) {
  .banner-block__inner {
    padding: 40px 0 60px;
  }
}

.banner-block__content {
  position: relative;
  z-index: 2;
  max-width: 780px;
}

.banner-block__title {
  font-size: 48px;
  font-weight: var(--font1_700);
  text-transform: uppercase;
  line-height: 1.2;
}

@media all and (max-width: 1024px) {
  .banner-block__title {
    font-size: 38px;
  }
}

@media all and (max-width: 767px) {
  .banner-block__title {
    font-size: 28px;
  }
}

@media all and (max-width: 639px) {
  .banner-block__title {
    font-size: 24px;
  }
}

.banner-block__list {
  margin-top: 90px;
}

@media all and (max-width: 1024px) {
  .banner-block__list {
    margin-top: 60px;
  }
}

@media all and (max-width: 767px) {
  .banner-block__list {
    margin-top: 40px;
  }
}

@media all and (max-width: 639px) {
  .banner-block__list {
    margin-top: 20px;
  }
}

.banner-block__list ul li {
  position: relative;
  padding-left: 25px;
  font-size: 20px;
  font-weight: var(--font1_400);
  color: var(--text_on_banner_bg);
  line-height: 1.2;
  margin-bottom: 5px;
}

@media all and (max-width: 767px) {
  .banner-block__list ul li {
    font-size: 16px;
  }
}

@media all and (max-width: 639px) {
  .banner-block__list ul li {
    font-size: 14px;
  }
}

.banner-block__list ul li:last-child {
  margin-bottom: 0;
}

.banner-block__list ul li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1;
  width: 5px;
  height: 1.5px;
  background: var(--text_on_banner_bg);
}

.banner-block__list_title {
  font-size: 20px;
  font-weight: var(--font1_700);
  line-height: 1.2;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .banner-block__list_title {
    font-size: 18px;
  }
}

@media all and (max-width: 639px) {
  .banner-block__list_title {
    font-size: 16px;
  }
}

.banner-block__btns {
  margin-top: 80px;
}

@media all and (max-width: 1024px) {
  .banner-block__btns {
    margin-top: 50px;
  }
}

@media all and (max-width: 767px) {
  .banner-block__btns {
    margin-top: 30px;
  }
}

@media all and (max-width: 639px) {
  .banner-block__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner-block__btns button {
  min-width: 183px;
  max-width: 200px;
}

.banner-block__btn_order {
  margin-right: 27px;
}

@media all and (max-width: 639px) {
  .banner-block__btn_order {
    margin: 0 0 10px;
  }
}

.advantage-block__title {
  text-align: center;
}

.advantage-block__subtitle {
  font-size: 18px;
  font-weight: var(--font1_400);
  color: var(--text_on_content_bg_2);
  text-align: center;
}

@media all and (max-width: 767px) {
  .advantage-block__subtitle {
    font-size: 16px;
  }
}

.advantage-block__items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media all and (max-width: 1024px) {
  .advantage-block__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: unset;
            column-gap: unset;
  }
}

@media all and (max-width: 767px) {
  .advantage-block__items {
    margin-top: 60px;
  }
}

@media all and (max-width: 639px) {
  .advantage-block__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 40px;
  }
}

.advantage-block__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  position: relative;
  z-index: 2;
}

@media all and (max-width: 1024px) {
  .advantage-block__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 639px) {
  .advantage-block__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.advantage-block__item:last-child:after {
  display: none;
}

.advantage-block__item:after {
  content: '';
  position: absolute;
  top: 50px;
  left: 81%;
  background: url(../img/dots.svg);
  width: 110px;
  height: 6px;
  z-index: -1;
  pointer-events: none;
}

@media all and (max-width: 1024px) {
  .advantage-block__item:after {
    display: none;
  }
}

.advantage-block__icon {
  width: 100px;
  height: 100px;
  background: var(--color1);
  border: 5px solid #286690;
  border-radius: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1024px) {
  .advantage-block__icon {
    width: 80px;
    height: 80px;
  }
}

@media all and (max-width: 639px) {
  .advantage-block__icon {
    width: 60px;
    height: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.advantage-block__icon svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: var(--icon_on_color1);
}

@media all and (max-width: 1024px) {
  .advantage-block__icon svg {
    width: 40%;
  }
}

.advantage-block__text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: var(--font1_400);
  color: var(--text_on_content_bg_2);
  text-align: center;
}

@media all and (max-width: 1024px) {
  .advantage-block__text {
    margin-top: 15px;
  }
}

@media all and (max-width: 639px) {
  .advantage-block__text {
    margin: 0 0 0 20px;
    text-align: left;
  }
}

.form-block {
  margin-top: 85px;
}

@media all and (max-width: 767px) {
  .form-block {
    margin-top: 60px;
  }
}

@media all and (max-width: 639px) {
  .form-block {
    margin-top: 40px;
  }
}

.form-block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

@media all and (max-width: 767px) {
  .form-block form {
    margin: 0 -10px;
  }
}

@media all and (max-width: 639px) {
  .form-block form {
    margin: 0;
  }
}

.form-block form .form-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.33% - 30px);
          flex: 1 1 calc(33.33% - 30px);
  margin: 0 15px 30px;
  position: relative;
}

@media all and (max-width: 767px) {
  .form-block form .form-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 20px);
            flex: 1 1 calc(50% - 20px);
    margin: 0 10px 20px;
  }
}

@media all and (max-width: 639px) {
  .form-block form .form-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0 0 20px;
  }
}

.form-block form .form-item__title {
  font-size: 18px;
  font-weight: var(--font1_400);
  color: var(--text_on_content_bg_2);
}

@media all and (max-width: 767px) {
  .form-block form .form-item__title {
    font-size: 16px;
  }
}

.form-block form .form-item input,
.form-block form .form-item select,
.form-block form .form-item .chosen-container-single .chosen-single {
  border-radius: var(--form_radius);
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  padding: 11px 10px;
  font-weight: var(--font1_400);
  font-size: 18px;
  color: #272733;
  line-height: 1.35;
  min-height: 48px;
}

@media all and (max-width: 767px) {
  .form-block form .form-item input,
  .form-block form .form-item select,
  .form-block form .form-item .chosen-container-single .chosen-single {
    font-size: 16px;
  }
}

.form-block form .form-item input::-webkit-input-placeholder,
.form-block form .form-item select::-webkit-input-placeholder,
.form-block form .form-item .chosen-container-single .chosen-single::-webkit-input-placeholder {
  color: #272733;
}

.form-block form .form-item input:-ms-input-placeholder,
.form-block form .form-item select:-ms-input-placeholder,
.form-block form .form-item .chosen-container-single .chosen-single:-ms-input-placeholder {
  color: #272733;
}

.form-block form .form-item input::-ms-input-placeholder,
.form-block form .form-item select::-ms-input-placeholder,
.form-block form .form-item .chosen-container-single .chosen-single::-ms-input-placeholder {
  color: #272733;
}

.form-block form .form-item input::placeholder,
.form-block form .form-item select::placeholder,
.form-block form .form-item .chosen-container-single .chosen-single::placeholder {
  color: #272733;
}

.form-block form .form-item.form-select .chosen-container-single .chosen-single div {
  width: 20px;
  right: 10px;
}

.form-block form .form-item.form-select .chosen-container-single .chosen-single div b {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background: url(../img/select-arrow.svg) no-repeat 50% 50%;
}

.form-block form .form-item.form-select .chosen-container-active.chosen-with-drop .chosen-single {
  background: rgba(61, 64, 80, 0.85);
  border-radius: 3px 3px 0px 0px;
  color: var(--text_on_content_bg);
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-block form .form-item.form-select .chosen-container-active.chosen-with-drop .chosen-single div b {
  background: url(../img/select-arrow-up.svg) no-repeat 50% 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-block form .form-item.form-select .chosen-container .chosen-drop {
  background: #272733;
  border: 1px solid #3D4050;
  border-radius: 3px;
}

.form-block form .form-item.form-select .chosen-container .chosen-results {
  max-height: 180px;
  padding: 9px 0 0 4px;
  margin: 0;
}

.form-block form .form-item.form-select .chosen-container .chosen-results li {
  font-weight: var(--font1_400);
  font-size: 18px;
  color: var(--text_on_content_bg);
  margin-bottom: 9px;
}

.form-block form .form-item.form-select .chosen-container .chosen-results li.highlighted {
  color: var(--color1);
  background: none;
}

@media all and (min-width: 768px) {
  .form-block form .form-item.form-slider {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(66.66% - 30px);
            flex: 1 1 calc(66.66% - 30px);
  }
}

.form-block form .form-item.form-slider .form-item__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-block form .form-item.form-button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.form-block form .form-item.form-file label {
  -webkit-box-shadow: inset 0 0 0 2px var(--color1);
          box-shadow: inset 0 0 0 2px var(--color1);
  padding: 14px 10px;
  font-size: 15px;
}

.form-block form .form-item.form-file label i {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.form-block form .form-item.form-file label svg {
  width: 20px;
  height: 20px;
}

.form-block form .form-item.form-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.form-block form .form-item.form-button button {
  width: 100%;
  max-width: 370px;
  font-size: 15px;
}

.form-block form .form-slider-range .irs-single {
  font-weight: var(--font1_700);
  font-size: 18px;
  color: var(--text_on_content_bg_85);
  background: none;
  position: static;
  display: block;
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  letter-spacing: 1px;
  padding: 0 5px;
  margin-top: -3px;
}

.form-block form .form-slider-range .irs-single:before {
  display: none;
}

.form-block form .form-slider-range .irs-bar {
  background: none;
}

.form-block form .form-slider-range .irs-line {
  top: 41px;
  height: 6px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
}

.form-block form .form-slider-range .irs-handle {
  top: 31px;
  cursor: pointer;
  background: var(--color1);
  border: 3px solid #286690;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.burger-popup {
  position: fixed;
  left: -110%;
  top: 0;
  height: 100vh;
  width: 260px;
  background: var(--content_bg);
  color: var(--text_on_content_bg);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: 10001;
  overflow-y: auto;
}

.burger-popup.active {
  left: 0;
}

.burger-popup__inner {
  padding: 30px 20px;
}

.burger-popup__list a {
  font-size: 13px;
  font-weight: var(--font1_700);
  text-transform: uppercase;
  line-height: 1.15;
  color: var(--text_on_content_bg);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-bottom: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.burger-popup__list a:hover {
  color: var(--color1);
}

.footer-block {
  background: var(--footer_bg);
  color: var(--text_on_footer_bg);
}

.footer-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

@media all and (max-width: 1260px) {
  .footer-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-block__copyright {
  margin-right: 40px;
  font-size: 13px;
}

@media all and (max-width: 1260px) {
  .footer-block__copyright {
    margin: 0 0 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.footer-block .payments {
  margin-right: 40px;
  padding-left: 38px;
  border-left: 1px solid var(--text_on_footer_bg_2);
}

@media all and (max-width: 1260px) {
  .footer-block .payments {
    margin: 0 0 20px;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0;
  }
}

.footer-block .payments__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 38px;
          column-gap: 38px;
}

@media all and (max-width: 1260px) {
  .footer-block .payments__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-block .payments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1260px) {
  .footer-block .payments__item {
    margin: 5px;
  }
}

.footer-block .payments__item-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.footer-block .payments__item-icon svg {
  width: 20px;
  height: 20px;
  fill: var(--icon_on_footer_bg);
}

.footer-block .payments__item-text {
  font-size: 13px;
  color: var(--text_on_footer_bg_2);
}

.footer-block .social {
  padding-left: 38px;
  padding-right: 20px;
  border-left: 1px solid var(--text_on_footer_bg_2);
}

@media all and (max-width: 1260px) {
  .footer-block .social {
    margin: 0;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0;
  }
}

.footer-block .social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 38px;
          column-gap: 38px;
}

@media all and (max-width: 1260px) {
  .footer-block .social__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-block .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

@media all and (max-width: 1260px) {
  .footer-block .social__item {
    margin: 5px;
  }
}

.footer-block .social__item-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.footer-block .social__item-icon svg {
  width: 15px;
  height: 15px;
  fill: var(--icon_on_footer_bg);
}

.footer-block .social__item-text {
  font-size: 13px;
  color: var(--text_on_footer_bg);
}
/*# sourceMappingURL=styles.css.map */